---
layout: skeleton
---
<body>
  <link rel="stylesheet" href="/assets/styles/main.css">
  <section class="carousel-banner slick-initialized slick-slider slick-dotted"><button class="slick-prev slick-arrow"
      aria-label="Previous" type="button" style="display: block;">Previous</button>
    <div class="slick-list draggable">
      <div class="slick-track" style="opacity: 1; width: 12288px;">
        <div class="slick-slide" data-slick-index="0" aria-hidden="true" role="tabpanel" id="slick-slide00"
          style="width: 2048px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 600ms linear 0s;"
          aria-describedby="slick-slide-control00" tabindex="-1">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner6_r1.jpg" alt=""></div>
          </div>
        </div>
        <div class="slick-slide" data-slick-index="1" aria-hidden="true" role="tabpanel" id="slick-slide01"
          style="width: 2048px; position: relative; left: -2048px; top: 0px; z-index: 998; opacity: 0; transition: opacity 600ms linear 0s;"
          aria-describedby="slick-slide-control01" tabindex="-1">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner5_r2.jpg" alt=""></div>
          </div>
        </div>
        <div class="slick-slide" data-slick-index="2" aria-hidden="true" role="tabpanel" id="slick-slide02"
          style="width: 2048px; position: relative; left: -4096px; top: 0px; z-index: 998; opacity: 0; transition: opacity 600ms linear 0s;"
          aria-describedby="slick-slide-control02" tabindex="-1">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner4_r4.jpg" alt=""></div>
          </div>
        </div>
        <div class="slick-slide" data-slick-index="3" aria-hidden="true" role="tabpanel" id="slick-slide03"
          style="width: 2048px; position: relative; left: -6144px; top: 0px; z-index: 998; opacity: 0; transition: opacity 600ms linear 0s;"
          aria-describedby="slick-slide-control03" tabindex="-1">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner3.jpg" alt=""></div>
          </div>
        </div>
        <div class="slick-slide" data-slick-index="4" aria-hidden="true" role="tabpanel" id="slick-slide04"
          style="width: 2048px; position: relative; left: -8192px; top: 0px; z-index: 998; opacity: 0; transition: opacity 600ms linear 0s;"
          aria-describedby="slick-slide-control04" tabindex="-1">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner2.jpg" alt=""></div>
          </div>
        </div>
        <div class="slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" role="tabpanel"
          id="slick-slide05"
          style="width: 2048px; position: relative; left: -10240px; top: 0px; z-index: 999; opacity: 1;"
          aria-describedby="slick-slide-control05">
          <div>
            <div class="banner-image" style="width: 100%; display: inline-block;"><img
                src="/assets/images/main_banner1.jpg" alt="Banner 1"></div>
          </div>
        </div>
      </div>
    </div><button class="slick-next slick-arrow" aria-label="Next" type="button" style="display: block;">Next</button>
    <ul class="slick-dots" style="display: block;" role="tablist">
      <li class="" role="presentation"><button type="button" role="tab" id="slick-slide-control00"
          aria-controls="slick-slide00" aria-label="1 of 6" tabindex="-1">1</button></li>
      <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control01"
          aria-controls="slick-slide01" aria-label="2 of 6" tabindex="-1">2</button></li>
      <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control02"
          aria-controls="slick-slide02" aria-label="3 of 6" tabindex="-1">3</button></li>
      <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control03"
          aria-controls="slick-slide03" aria-label="4 of 6" tabindex="-1">4</button></li>
      <li role="presentation" class=""><button type="button" role="tab" id="slick-slide-control04"
          aria-controls="slick-slide04" aria-label="5 of 6" tabindex="-1">5</button></li>
      <li role="presentation" class="slick-active"><button type="button" role="tab" id="slick-slide-control05"
          aria-controls="slick-slide05" aria-label="6 of 6" tabindex="0" aria-selected="true">6</button></li>
    </ul>
  </section>
  <section class="about-section">
    <div class="container container--mw1140">
      <div class="col-6">
        <div class="about-image"><img id="about-image" src="/assets/images/home_about_icon.gif"
            alt="home about" class="animate-in"></div>
      </div>
      <div class="col-6">
        <div class="about-title">
          <h1></h1>
          <p><span style="font-size: 32px;">ABOUT <strong>FACSMAB</strong>&nbsp;</span></p>
          <p class="font-grey" style="color: #7c7c7c;">FACSMAB is&nbsp;<span
              style="text-decoration: underline;"><strong>F</strong></span>requency&nbsp;<span
              style="text-decoration: underline;"><strong>A</strong></span>ssignment&nbsp;<span
              style="text-decoration: underline;"><strong>C</strong></span>ommittee,&nbsp;<span
              style="text-decoration: underline;"><strong>S</strong></span>ingapore,&nbsp;<span
              style="text-decoration: underline;"><strong>M</strong></span>alaysia And&nbsp;<span
              style="text-decoration: underline;"><strong>B</strong></span>runei Darussalam. The objective of the
            committee is to manage coordination of radio spectrum at the border areas of Brunei Darussalam, Malaysia and
            Singapore since 1948.</p>
          <p style="color: #333333;">FACSMAB was established since 1948 to deal with the day-to-day civil &amp; service
            frequency assignments in South East Asia, within the sphere of the British Governor General. The
            constitutions and memberships of FACSMAB underwent several changes with the withdrawal of the British Forces
            in 1959, the formation of Malaysia in 1963 and Singapore’s independence in 1965.</p>
          <a href="/About-Us" class="btn btn--has-border">Learn More</a><a href="/About-Us/Members"
            class="btn btn--has-border">Members of FACSMAB</a>
        </div>
      </div>
    </div>
  </section>
  <section class="calendar-section">
    <div class="container container--mw1140 calendar-wrapper">
      <div class="col-4">
        <div class="location-title">
          <p>Brunei Darussalam</p>
        </div>
        <div class="item-table item-table--yellow">
          <table>
            <tbody>
              <tr>
                <td class="item-date">
                  <p>Apr</p><span>25</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    PCP for Amateur Radio Single Prefix Call Signs
                  </p>
                  <p class="item-description">AITI had conducted a PCP on Amateur Radio Single Prefix Call Signs. The
                    aim is to seek views from Amateur Radio enthusiasts on the proposal for Amateu...</p>
                  <a href="http://www.aiti.gov.bn/downloadables/Downloadables%20Library/CONSULTATION%20Paper%20for%20Single%20Prefix[3].pdf"
                    class="btn btn--small">Read More</a>
                </td>
              </tr>
              <tr>
                <td class="item-date">
                  <p>Apr</p><span>15</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    900 MHz Spectrum Rights to DST
                  </p>
                  <p class="item-description">AITI has granted the Spectrum Rights for the band 910-915 MHz/ 955-960 MHz
                    to DataStream Technology Sdn Bhd (DST). It is for the deployment of UMTS te...</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4">
        <div class="location-title">
          <p>Singapore</p>
        </div>
        <div class="item-table item-table--red">
          <table>
            <tbody>
              <tr>
                <td class="item-date">
                  <p>Apr</p><span>29</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    700 MHz Spectrum Rights (2016), 900 MHz Spectrum Rights (2016), 2.3 GHz Spectrum Rights (2016) and
                    2.5 GHz Spectrum Rights (2016) Auction (“2016 Spectrum Auction”)
                  </p>
                  <p class="item-description">IDA has published the Information Memorandum and Auction Rules for the 700
                    MHz Spectrum Rights (2016), 900 MHz Spectrum Rights (2016), 2.3 GHz Spectru...</p>
                  <a href="https://www.imda.gov.sg/regulations-licensing-and-consultations/frameworks-and-policies/spectrum-management-and-coordination/spectrum-rights-auctions-and-assignment/700-mhz-spectrum-rights-900-mhz-spectrum-rights-2-3-ghz-spectrum-rights"
                    class="btn btn--small">Read More</a>
                </td>
              </tr>
              <tr>
                <td class="item-date">
                  <p>Mar</p><span>17</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    Framework for Assignment of Frequencies on Non-Interference and Non-Protection Basis
                  </p>
                  <p class="item-description">IDA will make available frequencies from the 1800 MHz centre gap (i.e.,
                    1790 – 1800 MHz) for commercial use to provide telecommunication services, in ...</p>
                  <a href="https://www.imda.gov.sg/-/media/imda/files/regulation-licensing-and-consultations/frameworks-and-policies/spectrum-management-and-coordination/constrainedbandframework_170316.pdf?la=en"
                    class="btn btn--small">Read More</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-4">
        <div class="location-title">
          <p>Malaysia</p>
        </div>
        <div class="item-table item-table--blue">
          <table>
            <tbody>
              <tr>
                <td class="item-date">
                  <p>May</p><span>12</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    Sharing Session on Outcome of World Radiocommunication Conference 2015 and Formation of the National
                    Preparatory Working Group for World Radiocommunication Conference 2019 (“NPWG-19”)
                  </p>
                  <p class="item-description">The above session was held to share on the outcome of WRC-15 and to inform
                    on the formation of the NPWG-19. This group will carry out preparatory work...</p>
                  <a href="http://www.skmm.gov.my/Media/Events/MCMC/Sharing-Session-on-Outcome-of-World-Radiocommunica.aspx"
                    class="btn btn--small">Read More</a>
                </td>
              </tr>
              <tr>
                <td class="item-date">
                  <p>Mar</p><span>28</span>
                </td>
                <td class="item-details">
                  <p class="item-title">
                    11th ITU Symposium on ICT Environment and Climate Change
                  </p>
                  <p class="item-description">ITU had organized the 11th ITU Symposium on ICTs, the Environment and
                    Climate Change, which was hosted by the Ministry of Communications and Multimedi...</p>
                  <a href="http://www.skmm.gov.my/Media/Events/MCMC/11th-ITU-Symposium-on-ICT,-Environment-and-Climate.aspx"
                    class="btn btn--small">Read More</a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <section class="publications-section">
    <div class="full-width-bg-image"><img src="/assets/images/bg_publication.jpg" alt="publication bg"></div>
    <div class="container container--mw1280">
      <h2>LATEST PUBLICATIONS</h2>
      <p>20TH REVIEW MEETING 3rd May 2019</p><a
        href="/Publications/Past-Publication/20TH-Facsmab-Review-Meeting-3rd-May-2019"
        class="btn btn--big btn--has-green-border">LEARN MORE</a>
    </div>
  </section>
  <section class="credits-section">
    <div class="container container--mw1280 credit-item-container is-showing">
      <p>BROUGHT TO YOU BY:</p>
      <div class="col-4">
        <div class="logo-container"><a href="http://www.aiti.gov.bn"><img class=" ls-is-cached lazyloaded"
              data-src="/assets/images/AITI_logo.png" alt="AITI logo image"
              src="/assets/images/AITI_logo.png"></a></div>
      </div>
      <div class="col-4">
        <div class="logo-container"><a href="https://www.imda.gov.sg/"><img class=" ls-is-cached lazyloaded"
              data-src="/assets/images/IMDA_logo.png" alt="Info communications Media Development Authority"
              src="/assets/images/IMDA_logo.png"></a></div>
      </div>
      <div class="col-4">
        <div class="logo-container"><a href="https://www.mcmc.gov.my/"><img class=" ls-is-cached lazyloaded"
              data-src="/assets/images/logo_mcmc.png" alt="Malaysian Communications and Multimedia Commission"
              src="/assets/images/logo_mcmc.png"></a></div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
  <script src="/jquery/jquery.min.js"></script>
  <script src="/jquery/scroll-top.js"></script>
  <script src="/jquery/notifications.js"></script>
</body>
